@import './base.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;
  background-color: #ffffff;
}

.v-application {
  background-color: #ffffff !important;
}
